{
  "presets": [
    [
      "@babel/preset-env",
      {
        "bugfixes": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "classic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "react-css-modules",
      {
        "generateScopedName": "[name]__[local]___[hash:base64:5]",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "autoResolveMultipleImports": true,
        "handleMissingStyleName": "warn"
      }
    ]
  ]
}
