{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ],
        "@babel/plugin-proposal-class-properties",
        [
            "react-css-modules",
            {
                "generateScopedName": "[name]__[local]___[hash:base64:5]",
                "filetypes": {
                    ".css": {
                        "syntax": "postcss-scss"
                    },
                    ".scss": {
                        "syntax": "postcss-scss"
                    }
                },
                "autoResolveMultipleImports": true
            }
        ]
    ]
}
