.doc-nav {
    width: 160px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 50;
    padding: 20px;
    background: #bbbbbb;
    margin-bottom: 0;
    box-shadow: 2px 0 5px #CCC;  

    .nav-item {
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        border-radius: 10px;
        align-items: center;

        &:hover {
            background: #999999;
        }

        &:last-child {
            margin-bottom: 0;
        }

        a {
            flex: 1;
        }

        .avtive-item {
            background: #666666;
        }

        .item-arrow {
            display: inline-block;
            font-size: 20px;
        }
    }
}