.movie-title {
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 0;
    text-align: center;
}
.movie-box {
    width: 100%;
    background: #001529;
    padding: 50px;
    overflow: auto;
    border-radius: 50px;

    li {
        margin-right: 20px;
        cursor: pointer;

        img {
            width: 270px;
            height: 400px;
        }

        p {
            margin-top: 20px;
            text-align: center;
        }
    }
}