table {
    margin-bottom: 20px;
    color: #333333;
    border-color: #808080;
    border-collapse: collapse;

    th {
        padding: 5px;
        text-align: center;
        white-space: nowrap;
        font-weight: bold;
        font-style: italic;
    }
    td {
        padding: 5px;
        text-align: center;
    }
}
