.doc {
    min-height: calc(100vh - var(--header-h));

    .doc-main {
        padding: 32px var(--page-pad) 80px;
        margin-left: var(--sidebar-w);
        max-width: 1080px;
    }
}

@media (max-width: 860px) {
    .doc {
        .doc-main {
            margin-left: 0;
            padding-top: 132px;
        }
    }
}
