.head {
    background: #FFFFFF;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0 4px 16px -4px rgba(69,88,115,.2);
    padding: 10px;

    li {
        margin-right: 20px;
        font-size: 16px;

        &:last-child {
            margin-right: 0;
        }
    }
}
