// ul {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     list-style: none;
//     padding: 0 20px;

//     li {
//         background: rgba(38, 129, 255, .1);
//         color: #2681ff;
//     }
// }
// span {
//     display: block;
//     margin: 0 auto;
//     padding: 20px 0;
//     width: 200px;
// }

.head {
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0 4px 16px -4px rgba(69,88,115,.2);

    ul {
        padding: 10px;

        li {
            margin-right: 20px;
        }
    }
}

:global {
    .ant-menu-item-selected {
        border-radius: 5px;
    }
}