h2 {
    font-size: 18px !important;
    font-weight: bolder !important;
    margin: 20px 0 !important;
}

h4 {
    font-size: 16px !important;
    font-weight: bold !important;
    margin: 10px 0 !important;
    color: #666666;
    font-style: italic;
}

p {
    text-indent:  10px;
    line-height: 24px;
}