.stage {
    width: 400px;
    height: 300px;
    background: #001529;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
  }
  .container {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform-style: preserve-3d;
    transition: all 5s;
  }
  .container li {
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 36px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .before {
    background: rgba(255, 0, 0, 0.3);
    transform: translateZ(75px);
  }
  .after {
    background: rgba(0, 0, 255, 0.3);
    transform: translateZ(-75px) rotateY(180deg);
  }
  .left {
    background: rgba(0, 255, 0, 0.3);
    transform: translateX(-75px) rotateY(-90deg);
  }
  .right {
    background: rgba(0, 255, 255, 0.3);
    transform: translateX(75px) rotateY(90deg);
  }
  .up {
    background: rgba(255, 255, 0, 0.3);
    transform: translateY(-75px) rotateX(90deg);
  }
  .down {
    background: rgba(255, 0, 255, 0.3);
    transform: translateY(75px) rotateX(-90deg);
  }
  .container p {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .before_little {
    background: rgba(255, 0, 0, 0.5);
    transform: translateZ(25px);
  }
  .after_little {
    background: rgba(0, 0, 255, 0.5);
    transform: translateZ(-25px) rotateY(180deg);
  }
  .left_little {
    background: rgba(0, 255, 0, 0.5);
    transform: translateX(-25px) rotateY(-90deg);
  }
  .right_little {
    background: rgba(0, 255, 255, 0.5);
    transform: translateX(25px) rotateY(90deg);
  }
  .up_little {
    background: rgba(255, 255, 0, 0.5);
    transform: translateY(-25px) rotateX(90deg);
  }
  .down_little {
    background: rgba(255, 0, 255, 0.5);
    transform: translateY(25px) rotateX(-90deg);
  }
  .container:hover {
    transform: rotateY(360deg) rotateX(360deg);
  }
  .container:hover .before {
    transform: translateZ(100px);
  }
  .container:hover .after {
    transform: translateZ(-100px);
  }
  .container:hover .left {
    transform: translateX(-75px) rotateY(-90deg) translateZ(25px);
  }
  .container:hover .right {
    transform: translateX(75px) rotateY(90deg) translateZ(25px);
  }
  .container:hover .up {
    transform: translateY(-75px) rotateX(90deg) translateZ(25px);
  }
  .container:hover .down {
    transform: translateY(75px) rotateX(-90deg) translateZ(25px);
  }
  