.doc {
    min-height: 100%;
    display: flex;
    border-radius: 3px;

    .doc-nav {
        background: #001529;
        width: 280px;
        padding: 0;
        margin-bottom: 0;

        .nav-item {
            border-bottom: 2px solid #000000;
            text-align: center;

            &:first-child {
                border-top: 2px solid #000000;
            }
        }
    }

    .doc-main {
        flex: 1;
        padding: 20px;
    }
}